body {
  background-color: blueviolet;
  padding: 10;
  margin: 10;
}
main {
  margin-left: 10px;
  margin-bottom: 50px;
  background-image: url(images/bg-desktop.svg);
}

.reg {
  border-radius: 20px;
  border: 0px;
  margin-left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: purple;
  font-weight: 500;
  font-size: 20px;
  background-color: #ffffff;
}

.illust {
  /* object-fit: fill; */
  height: 100%;
  width: 100%;
}

h1 {
  margin-left: 2px;
  color: white;
  margin-top: 10px;
  display: inline;
  margin-right: 10px;
}

.huddle {
  padding-inline: 10px;
  margin-top: 150px;
  color: white;
  width: 50%;
}

.logo {
  margin-top: 2px;
}

.overall {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
.home {
  /* margin-left: 150px; */
}

.logos {
  display: flex;
  justify-content: right;
  padding-inline: 5%;
  gap: 10px;
}
.logos > img {
  width: 40px;
}

@media (max-width: 1024px) {
  .overall {
    flex-direction: column;
  }

  .huddle {
    width: 100%;
    margin-top: 30px;
  }
}
